<ion-header [translucent]="false">
  <ion-toolbar color="default">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/informacion/{{usuarioID}}" slot="start"></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo" style="text-align: center;" color="danger">Retail Off </ion-title>
  </ion-toolbar>
  <ion-toolbar class="ion-text-center">
    <ion-label>
      <ion-title>Perfil del Usuario</ion-title>
      <h5>Actualizar</h5>
    </ion-label>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Botón para volver a inicio -->
  <div class="ion-text-right ion-margin-bottom">
    <ion-button color="danger" fill="outline" [routerLink]="['/informacion']">Volver a inicio</ion-button>
  </div>

  <ion-item class="ion-text-center" color="danger">

    <ion-label>
      <h5>{{usuarioobjeto.u_nombres + " " + usuarioobjeto.u_apellidos}}</h5>
      <span>RUT: {{usuarioobjeto.u_rut}}</span>
    </ion-label>
  </ion-item>
  <ion-header ng-include="'src/app/usuario/usuario.html'">
  </ion-header>

  <ion-card>
    <form novalidate>
      <ion-input style="display:none;" type="hidden" [(ngModel)]="usuarioobjeto.u_id" name="u_id" required></ion-input>
      <ion-input style="display:none;" type="hidden" [(ngModel)]="usuarioobjeto.u_rolFK" name="u_rolFK"
        required></ion-input>
      <ion-list>
        <ion-item>
          <ion-label position="floating">Rut:</ion-label>
          <ion-input color="success" type="text" placeholder="RUT" [(ngModel)]="usuarioobjeto.u_rut" name="u_rut"
            required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Nombres:</ion-label>
          <ion-input color="success" placeholder="Nombres Completos" type="text" [(ngModel)]="usuarioobjeto.u_nombres"
            name="u_nombres" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Apellidos:</ion-label>
          <ion-input color="success" placeholder="Apellidos Completos" type="text" name="u_apellidos"
            [(ngModel)]="usuarioobjeto.u_apellidos" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Celular</ion-label>
          <ion-input color="success" placeholder="Celular" type="number" name="u_celular" ngModel
            [(ngModel)]="usuarioobjeto.u_celular" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Correo Electrónico</ion-label>
          <ion-input color="success" placeholder="Correo" type="email" name="u_correo" ngModel
            [(ngModel)]="usuarioobjeto.u_correo" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contrase&ntilde;a:</ion-label>
          <ion-input color="success" placeholder="Contraseña" type="password" name="u_password"
            [(ngModel)]="usuarioobjeto.u_password" required></ion-input>
        </ion-item>
      </ion-list>
      <br>
      <div style="text-align: center;">
        <ion-button (click)="Actualizar()" color="danger">
          <ion-icon slot="icon-only" name="save-outline"></ion-icon>
        </ion-button>
      </div>
    </form>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar style="text-align: center; ">
    <ng-container>

      @if(usuarioobjeto.u_rolFK == 1){
      <ion-grid>
        <ion-row>
          <ion-col><a routerLink="/informacion/{{ usuarioID}}"><ion-icon name="home-outline"
                slot="icon-only"></ion-icon></a></ion-col>
          <ion-col><a routerLink="/usuario/{{ usuarioID }}"><ion-icon name="people-outline"
                slot="icon-only"></ion-icon></a></ion-col>
          <ion-col><a routerLink="/perfil/{{usuarioID }}"><ion-icon name="settings-outline"
                slot="icon-only"></ion-icon></a></ion-col>
          <ion-col><a style="color: red;" routerLink="/home"><ion-icon name="power-outline"
                slot="icon-only"></ion-icon></a></ion-col>
        </ion-row>
      </ion-grid>
      }@else{
      <ion-grid>
        <ion-row>
          <ion-col><a routerLink="/informacion/{{usuarioID}}"><ion-icon name="settings-outline"
                slot="icon-only"></ion-icon></a></ion-col>
          <ion-col><a routerLink="/mision/{{usuarioID}}"><ion-icon name="star-outline"></ion-icon></a></ion-col>
          <ion-col><a style="color: red;" routerLink="/home"><ion-icon name="power-outline"
                slot="icon-only"></ion-icon></a></ion-col>
        </ion-row>
      </ion-grid>
      }
    </ng-container>
  </ion-toolbar>
</ion-footer>