<ion-header>
  <ion-toolbar color="dark">
    <ion-title class="titulo" style="text-align: center;" color="danger">Retail Off</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <div style="width:100%;text-align: center;align-content: center;align-self: center;">
      <img alt="RetailOff" src="/assets/img/logo.png" />
    </div>

    <!-- Sección informativa -->
    <ion-card-header class="ion-text-center">
      <ion-card-title>Bienvenido(a)</ion-card-title>
      @if(UsuarioListar.length != 0){
      @for (usuario of UsuarioListar; track $index) {
      <ion-card-title class="titulo">{{ usuario.u_nombres}}</ion-card-title>
      <ion-card-title class="titulo">{{ usuario.u_apellidos}}</ion-card-title>
      @if(usuario.u_rolFK == 1){
      <ion-card-subtitle>ADMINISTRADOR</ion-card-subtitle>
      }@else{
      <ion-card-subtitle>PERSONAL</ion-card-subtitle>
      }
      }
      }
    </ion-card-header>

    <ion-card-content class="ion-text-justify">
      <p>
        Retail Off es una plataforma pensada para facilitar tus compras del hogar, con una experiencia simple y rápida:
        descubre categorías, tendencias y novedades, revisa opiniones y compra desde tu dispositivo.
      </p>
      <div class="ion-text-center ion-margin-top">
        <ion-button color="danger" routerLink="/mision">Ver Misión</ion-button>
        <ion-button fill="outline" color="dark" routerLink="/perfil">Ir a Perfil</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row style="text-align: center; ">
        @if(UsuarioListar.length != 0){
        @for (usuariomenu of UsuarioListar; track $index) {
        @if(usuariomenu.u_rolFK == 1){
        <ion-col><a routerLink="/informacion/{{ usuarioID}}" (click)="Refrescar()"><ion-icon name="home-outline"
              slot="icon-only"></ion-icon></a></ion-col>
        <ion-col><a routerLink="/usuario/{{ usuarioID }}" (click)="Refrescar()"><ion-icon name="people-outline"
              slot="icon-only"></ion-icon></a></ion-col>
        }@else {
        <ion-col><a routerLink="/mision/{{usuarioID}}"><ion-icon name="star-outline"></ion-icon></a></ion-col>
        <ion-col><a routerLink="/vision/{{usuarioID}}"><ion-icon name="star"></ion-icon></a></ion-col>
        }
        }
        }
        <ion-col><a routerLink="/perfil/{{ usuarioID }}"><ion-icon name="settings-outline"
              slot="icon-only"></ion-icon></a></ion-col>
        <ion-col><a style="color: red;" routerLink="/home"><ion-icon name="power-outline"
              slot="icon-only"></ion-icon></a></ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>