<ion-content class="ion-padding">

  <div class="vertical-center">
    <img alt="Silhouette of mountains" src="assets/img/logo.png"/>
  </div>
  <ion-card-header>
    <div class="vertical-center">
      <ion-card-title color="danger">Retail Off</ion-card-title>
    </div>
    <div class="vertical-center">
      <ion-card-subtitle>Bienvenidos</ion-card-subtitle>
    </div>
  </ion-card-header>

  <ion-card-content>
    <ion-button color="danger" (click)="Sesion()" expand="block">
      <ion-icon name="checkmark-circle"></ion-icon>&nbsp;&nbsp;Iniciar Sesión
    </ion-button>
    <br>
    <ion-button color="dark" (click)="Registrar()" expand="full">
      <ion-icon name="person-add"></ion-icon>&nbsp;&nbsp;Registráte
    </ion-button>
    <div class="vertical-center">
      <ion-card-subtitle>Los mejores precios del Mercado</ion-card-subtitle>
    </div>
  </ion-card-content>

